@media (min-width: 750px) {

    .container {
        padding: 100px 32px;
    }
    /* Header */
    .nav__burger {
        padding: 65px 100px;
    }
    .x-icon {
        margin: 0;
        align-items: start;
    }

    /* Banner */
    .banner__container {
        background-image: url(../images/img-banner-bg.png);
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .banner__main_parag {
        width: 	40%;
    }

    /* About */
    .about__img {
        width: 75%;
    }

    /* Books */
    .books__inner_container_texts {
        display: flex;
        gap: 20px;
    }
    .books__intro {
        width: 50%;
    }
    .books__description {
        width: 50%;
        margin-top: -50px;
    }
    .books__inner_container_card {
        grid-template-columns: repeat(2, 2fr);
        margin-top: 20px;
    }

    /* Testimonials */
    .testimonials__card .cart img {
        width: 120px;
        height: 120px;
    }

    /* Lastes */
    .lastest__larg_text {
        width: 55%;
        font-size: 70px;
        line-height: 70px;
    }
    .lastest__inner_box {
        display: flex;
        gap: 20px;
        margin-top: 50px;
    }
    .lastest__data {
        width: 15%;
        margin-top: 710px;
    }
    .lastest__box_text {
        width: 40%;
    }

    /* quotes */
    .quotes__larg_text {
        font-size: 38px;
        line-height: 51px;
        font-weight: 700;
    }

    /* Tender */
    .tender__top_box {
        display: flex;
        gap: 40px;
    }
    .intro {
        width: 50%;
    }
    .text {
        width: 50%;
    }
    .text_parag {
        margin-top: 0;
    }

    /* Order */
    .order_box__container {
        padding: 50px 32px;
        margin: 50px 32px;
    }
    .order_box__larg_text {
        font-size: 46px;
        width: 75%;
        line-height: 55px;
    }
    .order_box__btn {
        display: flex;
    }

    /* Press */
    .press__box {
        display: flex;
        gap: 20px;
    }
    .press__larg_text {
        font-size: 46px;
    }
    .press__intro {
        width: calc(100% / 3);
    }
    .press__links {
        width: calc(100% / 3);
    }
    .press__img {
        width: calc(100% / 3);
    }
    .link:last-child {
        border-bottom: none;
    }

    /* Events */
    .event__intro {
        display: flex;
        gap: 30px;
    }
    .intro_main {
        width: 50%;
    }
    .intro_text {
        width: 50%;
    }
    .text_parag {
        margin-top: 0;
    }
    .cart {
        display: flex;
        gap: 30px;
        margin-top: 50px;
    }
    .data {
        width: 30%;
    }
    .cart_info-title {
        width: 40%;
    }
    .cart__title {
        margin-top: 20px;
    }
    .cart__main_parag {
        margin-top: 20px;
    }
    .cart_data {
        width: 30%;
    }
    .cart:last-child {
        border-bottom: none;
    }

    /*Blog */
    .blog__intro {
        display: flex;
        gap: 30px;
    }
    .blog__intro-title {
        width: 50%;
    }
    .blog__larg_text {
        font-size: 46px;
    }
    
    .blog__cart_top {
        background-image: url(../images/img-blog-top-2.png);
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 15px;
    }
    .blog__cart_bottom {
        background-image: url(../images/img-blog-bottom-2.png);
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 15px;
    }
    .cart_top {
        width: 50%;
    }
    .cart_bottom {
        width: 50%;
        margin-left: 52%;
        padding-right: 24px;
    }

    /* Join */
    .join__container {
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
        padding: 40px 32px;
        margin: 0 32px;
    }
    .join__larg_text {
        margin-top: 0;
        font-size: 46px;
        line-height: 50px;        
    }
    .join__intro {
        width: 55%;
    }
    .join form {
        margin-top: 0;
        width: 45%;
    }

    /* Contacts */
    .contacts__larg_text {
        font-size: 46px;
    }
    .contacts__card {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 50px;
    }
    .top_card {
        padding-bottom: 15px;
    }
    .card {
        margin: 0 15px;
    }

    /* footer */
    .footer__container {
        display: flex;
        padding: 0 50px;
    }
}

@media (min-width: 1000px) {
    .container {
        padding: 80px 40px;
    }

    /* Header */
    
    .nav__burger {
        display: none;
    }
    .burger-icon {
        display: none;
    }
    .nav__container {
        display: flex;
        height: auto;
        padding: 20px 0px;
        background-color: var(--bg-light-color);
    }
    .nav__links {
        display: flex;
        gap: 30px;  
        width: 50%;  
        justify-content: start;    
    }
    .nav__cosnetw {
        width: 40%;
        justify-content: end;
    }

    /* Testimonial */
    .testimonials__card {
        display: flex;
        gap: 30px;
    }
    .testimonials__card .cart {
        width: 45%;
        height: 300px;
    }

    /* Lastest */
    .lastest__container {
        background-position-x: 80%;
    }
    .lastest__data {
        margin-top: 510px;
    }

    /* Quotes */
    .quotes__larg_text {
        font-size: 52px;
        line-height: 67px;
        font-weight: 500;
    }

    /* Events */
    .cart_data {
        width: 20%;
    }

    /* Blog */
    .blblog__intro-title {
        width: 50%;
    }
    .blog__larg_text {
        font-size: 54px;
        line-height: 67px;
    }
    .blog__intro-text {
        width: 50%;
    }

    /* Join */
    .join__container {
        padding: 30px 0px;
        gap: 50px;
    }
    .join__larg_text {
        font-size: 50px;
        line-height: 67px;
    }
    .join form {
        width: 30%;
    }

    /* Contacts */
    .contacts__larg_text {
        font-size: 54px;
        line-height: 67px;
    }

    /* Footer */
    .footer__container {
        padding: 30px 35px;
    }
    .footer__title {
        text-align: start;
    }
    .footer__links {
        display: flex;
    }

}